
header {
    display: flex;
    justify-content: center;

    .coins_cen {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: 12px;

        .coins_sec {
            border-radius: 10px;
            background: rgba(10, 46, 68, 0.85) none repeat scroll 0 0;

            ul {
                margin: 0px;
                padding: 0px;
                display: flex;
                color: white;
                list-style: none;
                justify-content: center;

                li {
                    color: #65a7c8;
                    padding: 0px 12px;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    header {
        .coins_cen {
            .coins_sec {
                ul {
                    li {
                        font-size: 13px;
                        padding: 1px 12px;

                        img {
                            width: 18px;
                        }
                    }
                }
            }
        }
    }
}